:root {
    --cor-fundo: #290974;
    --cor-principal: #26256b ;
    --cor-secundaria: #3b5a4b;
    --cor-destaque: #fd2bb7;
    --cor-texto: #a3c5be;
  }
  
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
  }

h1{
    color: var(--cor-destaque);
   }

button {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-secundaria);
}
